<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

  <div class="flex">
    <div class="sidebar">
      <div class="flex flex-col p-8 h-full">
        <a href="index.html" class="block mb-10.5">
          <img src="assets/images/logo-ANSWER.svg" alt="logo answer">
        </a>
        <ul class="sidebar__list">
          <li class="flex items-center mb-7.5">
            <a href="javascript:;" class="flex font-bold w-full">
              <i class="fas fa-dove text-lg mr-4"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="flex items-center mb-7.5">
            <a href="javascript:;" class="flex font-bold w-full">
              <i class="fas fa-bomb text-lg mr-4"></i>
              <span>Question</span>
            </a>
          </li>
          <li class="flex items-center mb-7.5">
            <a href="javascript:;" class="flex font-bold w-full">
              <i class="fas fa-cat text-lg mr-4"></i>
              <span>Assignment</span>
            </a>
          </li>
          <li class="flex items-center mb-7.5">
            <a href="javascript:;" class="flex font-bold w-full">
              <i class="fas fa-shower text-lg mr-4"></i>
              <span>Course</span>
            </a>
          </li>
          <li class="flex items-center mb-7.5">
            <a href="javascript:;" class="flex font-bold w-full">
              <i class="fas fa-dog text-lg mr-4"></i>
              <span>Admin</span>
            </a>
          </li>
          <li class="flex items-center">
            <a href="javascript:;" class="flex font-bold w-full">
              <i class="fas fa-poo text-lg mr-4"></i>
              <span>Settings</span>
            </a>
          </li>
        </ul>
        <div class="sidebar__info">
          <img src="assets/images/andychen.jpeg" alt="人物圖片">
          <div class="ml-4">
            <h3 class="font-bold">Andy Chen</h3>
            <a href="javascript:;" class="text-sm text-gray-300">andy0401@mail.com</a>
          </div>
        </div>
      </div>
    </div>


    <main class="main">
      <%- contents %>
    </main>
  </div>


  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>