// 色系
$primary: #198754;
$danger: #DC3545;
$black: #000000;
$white: #ffffff; 

//灰階，寫法nth($grayscale,第幾個顏色、css第一個位子為1，js才是0)
$gray-100: #F8F9FA;
$gray-200: #CED4DA;
$gray-300: #6C757D;
$gray-400: #212529;

